@using HW62_Api_Jokes_May12
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2>@Model.Joke.Setup</h2>
            <br />
            <h2>@Model.Joke.Punchline</h2>
            @if (User.Identity.IsAuthenticated)
            { 
                <span style="font-size: 40px; cursor: pointer;" class="glyphicon glyphicon-ok likeft" data-id="@Model.Joke.Id"></span>
                <span style="font-size: 40px; cursor: pointer;" class="glyphicon glyphicon-ok like" data-id="@Model.Joke.Id"></span>
                <span style="font-size: 40px; cursor: pointer;" class="glyphicon glyphicon-remove dislike" data-id="@Model.Joke.Id" ></span>
            }
        </div>
    </div>
</div>

@section scripts
    {
    <script src="/js/Index.js"></script>
}